@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway:wght@600&family=Source+Sans+3&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Source Sans 3", sans-serif;
    color: #ede4e4;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
  }
}
.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  width: 100%;
  height: 4px;
  background-color: #6b01b8;
  border-radius: 4px;
}

@keyframes loading {
  0% {
    background: linear-gradient(to right, #6b01b8 0%, #0f0d0d 0%);
  }
  100% {
    background: linear-gradient(to right, #6b01b8 60%, #0f0d0d 60%);
  }
}

@keyframes loaded {
  0% {
    background: linear-gradient(to right, #6b01b8 60%, #0f0d0d 60%);
  }
  100% {
    background: linear-gradient(to right, #6b01b8 100%, #0f0d0d 100%);
  }
}

.animate-loading {
  animation: loading 1s ease forwards;
}

.animate-loaded {
  animation: loaded 0.5s ease forwards;
}

.gradient::after {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0%;
  bottom: 10%;
  width: 150%;
  left: -25%;
  background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
  -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.45), transparent 70%);
  mask-image: radial-gradient(rgba(0, 0, 0, 0.45), transparent 70%);
}
