@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway:wght@600&family=Source+Sans+3&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Source Sans 3", sans-serif;
    color: #ede4e4;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
  }
}
:root {
  color-scheme: dark;
}

/* Profile tabs active bar */
.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  width: 100%;
  height: 4px;
  background-color: #8a40d4;
  border-radius: 4px;
}

/* message progress bar */
.progress {
  transform: scaleX(0);
  animation: loading 2.5s ease forwards;
  transform-origin: left;
  transition: all 200ms;
}
.complete {
  transform: scaleX(1);
}

@keyframes loading {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(0.7);
  }
}

.animate-loading {
  animation: loading 1s ease forwards;
}

.animate-loaded {
  animation: loaded 0.5s ease forwards;
}

.gradient::after {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0%;
  bottom: 10%;
  width: 150%;
  left: -25%;
  background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
  -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.45), transparent 70%);
  mask-image: radial-gradient(rgba(0, 0, 0, 0.45), transparent 70%);
}

.pc-opacity-0 {
  opacity: 0;
}

.limit-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

@media (pointer: coarse) {
  .pc-opacity-0 {
    opacity: 1;
  }
}

.full-height {
  height: calc(100svh - 49px);
}
